.container {  
    display: flex;
    justify-content: space-evenly;
    
 }
 .boxes {
    border: .1px solid;
    width: 99px;
    height: 99px;
    text-align: center;
    font-size: 30px;
 }
 #box1 { 
    background-color: green; 
    /* margin-right: auto; */
}
 #box2 { background-color: yellow; }
 #box3 { background-color: pink; }
 #box4 { background-color: blue; }
 #box5 { background-color: red; }
 #box6 { background-color: orange; }
 #box7 { background-color:beige; }
 #box8 { 
    background-color: lightgrey; 
    /* margin-left: auto; */
}